# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Fichiers de base de données
*.db

# Fichiers de log
*.log

# Environnements virtuels
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
